{% extends "blog/base.html" %}
{% load comments %}

{% block title %}
    {{ blog_obj.title }}
{% endblock %}
{% block content %}

<h3>{{ blog_obj.title }}</h3>

	{% for post in posts %}
	<!-- {% for key, value in exc %}{% if key == post.id %}{{ value }}{%endif%}{% endfor %} -->
        <ul style="list-style: none;">
            <li><h5><a href="/view_post/{{ post.id }}">{{ post.post_title }}</a></h5></li>
            <li><p>{{ post.post }}</p></li>
            <li>аФФтор - {{ post.author }}</li>
			<li>создан - {{ post.created_at }}</li>
			{% if post.updated_at %}
			<li>обновлен - {{ post.updated_at }}</li>
			<li>понравилось {{ post.c_likes }} людям</li>
			{% endif %}
			{% get_comment_count for blogs.content post.id as comment_count %}
			коментов - {{ comment_count }}
        </ul>
		
		{{ like_users }}

		{% if user.username == post.author.first_name %}
				<!-- <a href="{% url editpost post.id %}">редактировать</a> -->
				<form action="{% url editpost post.id %}" method="post">{% csrf_token %}
					<input type="submit" value="редактировать">
				</form>
				<form action="{% url delpost post.id %}" method="post">{% csrf_token %}
					<input type="submit" value="удалить">
				</form>
		{% endif %}
		
    {% endfor %}

    {% if user.username == name %}
        <a href="/post/?id={{blog}}">написать пост</a>
    {% endif %}

    <div class="pagination">
    <span class="step-links">
	{% if posts %}
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}&blog={{ blog_obj.id }}&name={{ user.username}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}&blog={{ blog_obj.id }}&name={{ user.username}}">next</a>
        {% endif %}
	{% else %}
		<h5>увы суда ещё никто не писал</h5>
	{% endif %}
    </span>

    </div>
	

{% endblock %}