{% extends "blog/base.html" %}

{% block title %}абырвал

{% endblock %}

{% block content %}


{{ blog.user.id }}
    {% if not user.is_anonymous %}
        <h1>Привет, {{ user }}!</h1><br>
		{% if myBlog %}
		<h3> Ваши блоги </h3>
        <ul style="list-style: none;">
		{% for myBlogs in myBlog %}
            <li><a href="/content/?blog={{ myBlogs.id }}&name={{ myBlogs.user }}">{{ myBlogs.title }}</a></li>
		{% endfor %}
			<li><a href="/blogs">Cоздать блог!</a></li>
        </ul>
		{% else %}
		<h3> У вас ещё нет блога =( </h3>
        <ul style="list-style: none;">
            <li><a href="/blogs">Cоздать блог!</a></li>
        </ul>		
		{% endif %}
		
    {% endif %}
        Контент
		
	{% for blog in blogs %}
        <ul style="list-style: none;">
            <li><h3><a href="/content/?blog={{ blog.id }}&name={{ blog.user }}">блог {{ blog.title }}</a></h3></li>
            <li><p>описание {{ blog.description }}</p></li>
			<li>ID - {{ blog.id }}</li>
			<li>тэги - {{ blog.tags }}</li>
            <li>аФФтор - <a href="/accounts/profile/{{ blog.user.id }}">{{ blog.user }}</a></li>
				<li>создан	{{ blog.created_at }}</li>
        </ul>
    {% endfor %}


{% endblock %}