{% extends "blog/base.html" %}
{% load comments %}

{% block title %}
    {{ post.post_title }}
{% endblock %}

{% block content %}

	<ul style="list-style: none;">
		<li><h3>{{ post.post_title }}</h3></li>
		<li><p>{{ post.post }}</p></li>
		<li>аФФтор - {{ post.author }}</li>
		<li>{% if post.c_likes == 0 %}
				<a href="{% url like post.id %}">пока никому не понравилось</a>
			{% else %}
				<a href="{% url like post.id %}" title="{% for usr in likes %}{{ usr.user.user }}, {% endfor %}">like {{ post.c_likes }}</a>
			{% endif %}
		
		</li>
		</ul>

		{% if user.username == post.author.first_name %}
				<a href="{% url editpost post.id %}">редактировать</a>
				<form action="{% url delpost post.id %}" method="post">{% csrf_token %}
					<input type="submit" value="удалить">
				</form>
		{% endif %}
		{% if ref %}
				<a href="/content?blog={{ post.blog_id.id }}&name={{ post.author.first_name }}">назад</a>
		{% endif %}
		
		{% render_comment_list for post %}
		<h3>Оставить комент!</h3>
		{% if user.is_authenticated %}
			{% get_comment_form for blogs.content post.id as form %}
			<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			{{ form.comment }}
			{{ form.honeypot }}
			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}
			<input type="hidden" name="next" value="{% url singlepost post.id %}" /> <br>
			<input type="submit" value="Запостить" id="id_submit" />
			</form>
		{% else %}
			<p><a href="/login">Войдите </a> или <a href="/registration">зарегистрируйтесь</a> чтобы оставить коментарий.</p>
		{% endif %}
	
	{{ rand }} <br />
	
	
{% endblock %}