{% extends "blog/base.html" %}
{% load comments %}

{% block title %}
    {{ post.post_title }}
{% endblock %}

{% block content %}

	<ul style="list-style: none;">
		<li><h3>{{ post.post_title }}</h3></li>
		<li><p>{{ post.post }}</p></li>
		<li>аФФтор - {{ post.author }}</li>
		</ul>
		
		{{ blog_obj }}
		
		{% if user.username == name %}
				<a href="/editpost">редактировать</a>
		{% endif %}
		
		{% render_comment_list for post %}
		
		{% if user.is_authenticated %}
			{% get_comment_form for blogs.content post.id as form %}
			<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			{{ form.comment }}
			{{ form.honeypot }}
			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}
			<input type="hidden" name="next" value="{% url singlepost post.id %}" />
			<input type="submit" value="Add comment" id="id_submit" />
			</form>
		{% else %}
			<p><a href="/login">Войдите </a> или <a href="/registration">зарегистрируйтесь</a> чтобы оставить коментарий.</p>
		{% endif %}
	
	{{ rand }} <br />
	
	
{% endblock %}