{%extends "blog/base.html" %}

{% block title %}
    {{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}
{% endblock %}

{% block content %}

    {% ifequal user.get_profile.id profile.get_profile.id  %}
        Это Вы
    {% else %}

    {% endifequal %}
    {{ profile.id }}
    <br><br><br><br><br>
    {{ user.id }}<br>
    {{ profile.id }}<br>

    Вы, {{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}
    <br>
    Регистрация: {{ profile.get_profile.date_joined }}
    <br>
    Пол - {{ profile.get_profile.get_gender_display }}

{% endblock %}