{%extends "blog/base.html" %}
{% block content %}
    {% block name %}  {% endblock %}
    <form method="POST" action='/profile/' enctype="multipart/form-data">{% csrf_token %}

        {{ form.as_ul }}
        {{ form.avatar.value }}
        {{ user.get_profile.avatar }}
        <input type="submit" value="Сохранить">


    </form>

    {% for post in posts %}
        <ul style="list-style: none;">
            <li><h3>{{ post.post_title }}</h3></li>
            <li><p>{{ post.post }}</p></li>
            <li>аФФтор - {{ post.author }}</li>

        </ul>
    {% endfor %}

{% endblock %}