{%extends "blog/base.html" %}
{% block content %}
    {% block name %}  {% endblock %}
    <form method="POST" action='/profile/' enctype="multipart/form-data">{% csrf_token %}

        {{ form.as_ul }}
		{% if form.avatar.value %}
        <img src="{{ MEDIA_URL }}{{ form.avatar.value }}" width=100; />
		{% else %}
		<img src="{{ MEDIA_URL }}no_image.jpg" width=100; />
		{% endif %}
        <input type="submit" value="Сохранить">


    </form>

    {% for post in posts %}
        <ul style="list-style: none;">
            <li><h3>{{ post.post_title }}</h3></li>
            <li><p>{{ post.post }}</p></li>
            <li>аФФтор - {{ post.author }}</li>

        </ul>
    {% endfor %}

{% endblock %}