{%extends "blog/base.html" %}

{% block title %}
    {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block content %}
<ul style="list-style: none;">
    {% ifequal user.id profile.id  %}
        <li>Это Вы<li>
    {% endifequal %}
	
	
	<h1>{{ profile }}!</h1><br>
	{% if profile.avatar != 'False' and profile.avatar != '' %}
		<img style="float: left; margin-right: 15px;" src="{{ MEDIA_URL }}{{ profile.avatar }}" width=200;/>
	{% else %}
		<img style="float: left; margin-right: 15px;" src="{{ MEDIA_URL }}no_image.jpg" width=100;/>
	{% endif %}

    
   <li>
    Пол: {{ profile.get_gender_display }}
    </li>
	<li>
    Дата регистрации: {{ profile.birthday }}
	</li>
	{% if blogs %}
	Блоги:
	{% for blog in blogs %}
	<li>
    <a href="/content/?blog={{ blog.id }}&name={{ blog.user }}">блог {{ blog.title }}</a>
	</li>
	{% endfor %}
	{% endif %}
	{% ifequal user.id profile.id  %}
        <li><a href="/profile">Редактировать</a><li>
    {% endifequal %}
	
    
</ul>




{% endblock %}